:host {
  --ion-card-background: #eeeeee;
}

ion-card {
  height: 95%;
  border-radius: 10px;
  padding-top: 10px;
}

ion-img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
